name: ci
on: [push]

permissions:
  contents: read

jobs:
  binaries:
    uses: ./.github/workflows/binaries.yaml
    permissions:
      attestations: write
      contents: write
      id-token: write

  npm-package:
    uses: ./.github/workflows/npm_package.yaml
    permissions:
      contents: write
      id-token: write

  test-coverage:
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./.github/actions/setup

      - run: npm ci --build-from-source
        env:
          GO_TEXT_TEMPLATE_NAPI_COVERAGE: 'true'
      - run: mkdir gocov
      - run: npm run test -- --coverage --coverageReporters=json
        env:
          GOCOVERDIR: gocov
      - run: go tool covdata textfmt -i=gocov -o=go-coverage.txt

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          use_oidc: true
