name: npm_package
on:
  workflow_call:
    inputs:
      upload-assets:
        required: false
        type: boolean
    outputs:
      artifact-id:
        value: ${{ jobs.npm-package.outputs.artifact-id }}

permissions:
  contents: read

jobs:
  npm-package:
    runs-on: ubuntu-24.04
    outputs:
      artifact-id: ${{ steps.upload.outputs.artifact-id }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ./.github/actions/setup
        with:
          skip-go: 'true'
      - run: npm pack
      - id: upload
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: npm-package
          path: go-text-template-napi-*.tgz
      - run: gh release upload '${{ github.ref_name }}' go-text-template-napi-*.tgz
        if: inputs.upload-assets
        env:
          GH_TOKEN: ${{ github.token }}
