name: release
on:
  push:
    tags:
      - v*.*.*

permissions:
  contents: read

jobs:
  sanity-check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Verify package.json has correct version for tag
        run: |
          pkg_json="$(jq -r .version package.json)"
          tag="${{ github.ref_name }}"
          tag_ver="$(sed -E 's/^v([^-]+)(-.*)?$/\1/' <<< "$tag")"
          if [[ "$pkg_json" != "$tag_ver" ]]; then
            echo "::error::package.json has version ${pkg_json}, expected ${tag_ver}"
            exit 1
          fi

  create-draft-release:
    needs: [sanity-check]
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: gh release create ${{ github.ref_name }} -d -t ${{ github.ref_name }} --verify-tag
        env:
          GH_TOKEN: ${{ github.token }}

  binaries:
    needs: [create-draft-release]
    uses: ./.github/workflows/binaries.yaml
    permissions:
      attestations: write
      contents: write
      id-token: write
    with:
      provenance: true
      upload-assets: true

  npm-package:
    needs: [create-draft-release]
    uses: ./.github/workflows/npm_package.yaml
    permissions:
      contents: write
    with:
      upload-assets: true

  npm-publish:
    environment: ${{ (!contains(github.ref_name, '-') && 'npm-publish') || null }}
    needs: [binaries, npm-package]
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
    steps:
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          registry-url: https://registry.npmjs.org
          node-version: 24
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          artifact-ids: ${{ needs.npm-package.outputs.artifact-id }}
      - run: npm publish go-text-template-napi-*.tgz
        if: "!contains(github.ref_name, '-')"
